@charset "utf-8";
/* CSS Document */

/*********************************
HTML Reset
*********************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
line-height: 1;
}

blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* START OF CODE */
body {font-family: Times, serif; 
	font-size: 14pt;}

nav {font-family: 'Open Sans', sans-serif;
	font-size: 3em;
	}

a:link {color:white;}      
a:visited {color:white;}  /* visited link */
a:hover {color:white;}  /* mouse over link */
a:active {color:white;}  /* selected link */

h2 {font-family: 'Open Sans', sans-serif;
	font-size: 3em;
	}

#toc, #majors, #town {background-color:#9D2235; 
	color: white;
	}

#toc, #about, #majors, #campus, #town, #sports {width: 100%; height: 700px}

section {padding: .5em;
	}

#header img {width: 100%; 
	background-color: #9D2235;
	}

img#campus, img#stadium {width: 100%;
	}

#header {background-color: #9D2235;
	}

#left, #right {font-family: 'Open Sans', sans-serif;
	font-size: 2em;
	}

#left {float: left; 
	padding: 10px; 
	width: 30%;
	}

#right {float: right; 
	padding: 10px; 
	width: 30%;
	}



